# Configurações

## Importações

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Configuração de Ambiente

In [15]:
# Ajustando o output das tabelas
pd.set_option('display.max_columns', 50)

# Ajustando o output das imagens
%matplotlib inline

# Dicionário dos dados

| Nome da Coluna | Tipo do Dado | Dado Estruturado | Categorias | Descrição |
|:--------------:|:------------:|:----------------:|:----------:|:---------:|
age	|	int64	|	numérico	|	None	|	Idade
job	|	string	|	categórico	|	management', 'technician', 'entrepreneur', 'blue-collar', 'unknown', 'retired', 'admin.', 'services', 'self-employed', 'unemployed', 'housemaid', 'student'	|	Tipo de trabalho
marital	|	string	|	categórico	|	married', 'single', 'divorced'	|	Estado civil
education	|	string	|	categórico	|	tertiary', 'secondary', 'unknown', 'primary'	|	Nível de escolaridade
default	|	string	|	binário	|	no', 'yes'	|	Está em inadimplencia?
balance	|	int64	|	numérico	|	None	|	Balanço médio anual (Euro)
housing	|	string	|	binário	|	no', 'yes'	|	Tem crédito em habitação?
loan	|	string	|	binário	|	no', 'yes'	|	Tem empréstimo pessoal?
contact	|	string	|	categórico	|	unknown', 'cellular', 'telephone'	|	Tipo de contato
day	|	int64	|	numérico	|	None	|	Último dia do contato do mês 
month	|	string	|	categórico	|	may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb', 'mar', 'apr', 'sep'	|	Último mês do contato
duration	|	int64	|	numérico	|	None	|	Duração do último contato (segundos)
campaign	|	int64	|	numérico	|	None	|	Quantidade de contatos realizados durante campanha e para este cliente 
pdays	|	int64	|	numérico	|	None	|	Número de dias do último contato 
previous	|	int64	|	numérico	|	None	|	Quantidade de contato antes dessa campanha
poutcome	|	string	|	categórico	|	unknown', 'failure', 'other', 'success'	|	Resultado da campanha anterior
y	|	string	|	binário	|	no', 'yes'	|	Target

# Tratando os Dados

## Carregando os dados

In [13]:
data = pd.read_csv('./dados/bank-full.csv', sep=';')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [63]:
for n in data.columns:
    if data[n].dtypes == object:
        print(f"{n}:\n{data[n].unique()}\n")

job:
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']

marital:
['married' 'single' 'divorced']

education:
['tertiary' 'secondary' 'unknown' 'primary']

default:
['no' 'yes']

housing:
['yes' 'no']

loan:
['no' 'yes']

contact:
['unknown' 'cellular' 'telephone']

month:
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']

poutcome:
['unknown' 'failure' 'other' 'success']

y:
['no' 'yes']

In [62]:
data['job'].dtypes

dtype('O')